body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

.container{
    width:90%;
    max-width:1000px;
    margin:auto;
    text-align:center;
}

h1{
    margin-top:30px;
}

.search-box{
    margin:20px;
}

input{
    padding:12px;
    width:250px;
}

button{
    padding:12px 20px;
    cursor:pointer;
}

#weather{
    margin-top:20px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

#map{
    height:500px;
    margin-top:20px;
    border-radius:10px;
}
#forecast{
    margin-top:20px;
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    justify-content:center;
}

.forecast-card{
    background:white;
    padding:15px;
    border-radius:10px;
    width:140px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}
canvas{
    background:white;
    margin-top:20px;
    padding:20px;
    border-radius:10px;
}
#aqi{
    background:white;
    margin-top:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}
.dark-mode{
    background:#121212;
    color:white;
}

.dark-mode #weather,
.dark-mode #aqi,
.dark-mode .forecast-card,
.dark-mode canvas{
    background:#1e1e1e;
    color:white;
}

.dark-mode input{
    background:#2a2a2a;
    color:white;
}

.dark-mode button{
    background:#333;
    color:white;
}
#favorites{
    margin-top:20px;
}

.favorite-city{
    margin:5px;
    padding:10px;
    cursor:pointer;
}
#history{
    margin-top:20px;
}

.history-city{
    margin:5px;
    padding:10px;
    cursor:pointer;
}
#auth-section{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
}

#auth-section input{
    margin:5px;
}
#auth-section{
    background:white;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.dark-mode #auth-section{
    background:#1e1e1e;
    color:white;
}